In [1]:
print("hello")

hello

In [2]:
age = 18
name = "John"
print(name)

John

In [3]:
msg = "Hello, world"
print(msg[2:5])

llo

In [4]:
mylist = []
mylist.append(1)
mylist.append(2)
for item in mylist:
    print(item)

1
2

In [5]:
num = 200
if num > 0:
    print("num is greater than 0")
else:
    print("num is not greater than 0")

num is greater than 0

In [6]:
for item in range(6):
    if item ==3: break
    print(item)
else:
    print("finally finished")

0
1
2

In [7]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [8]:
animals = ["dog", "cat", "mouse"]

for i, value in enumerate(animals):
    print(i, value)

0 dog
1 cat
2 mouse

In [10]:
cities = ["New York", "London", "Paris", "Tokyo"]
for city in cities:
    print(city)

New York
London
Paris
Tokyo

In [16]:
names = ["Hulk", "ironman", "batman", "thor"]

for name in names:
    print(name)

Hulk
ironman
batman
thor

In [27]:
words = "anoop krishna"
for letter in words:
    print(letter)

a
n
o
o
p

k
r
i
s
h
n
a

In [30]:
person = {"name":"Anoop", "age":29, "country":"india"}

for key, value in person.items():
    print(key,":", value)

name : Anoop
age : 29
country : india

In [35]:
def missingnumber(nums):
    n = len(nums)
    total_sum = n * (n+1) //2
    array_sum = sum(nums)
    return total_sum - array_sum

print(missingnumber([3,0,1]))

2

In [43]:
def duplicates(nums):
    result = []
    for num in nums:
        index = abs(num) - 1
        nums[index] = -abs(nums[index])

    for i in range (len(nums)):
        if nums[i] >0:
            result.append(i +1)

    return result


print(duplicates([4,3,2,7,8,2,3,1]))  # Output: [5,6]

[5, 6]

In [44]:
def reverse_string(s):
    reverse_s = ""
    for char in s:
        reverse_s = char + reverse_s
    return reverse_s

print(reverse_string("hello"))

olleh

In [45]:
def print_even(n):
    for i in range(1+ n+1):
        if i % 2==0:
            print(i, end=" ")

print_even(10)

0 2 4 6 8 10

In [46]:
x =0
for index in range(10):
    x = index * 10
    if index ==5:
        break
    print(x)

0
10
20
30
40

In [48]:
class Animal:
    def __init__(self, voice):
        self.voice = voice

cat = Animal('meow')
print(cat.voice)

dog = Animal('woof')
print(dog.voice)

meow
woof

In [1]:
x = '1'
y = '1'
print(x+y)

11

In [2]:
age = 25
print(age, type(age))

25 <class 'int'>

In [3]:
def order():
    food = "Chiken Biriyani"
    print("Your order is :",food)

order()

Your order is : Chiken Biriyani

In [5]:
user_id = "Anoop Krishna"

def homepage():
    print("Welcome:", user_id)

def profile():
    print("welcome to homepage")

homepage()
profile()

Welcome: Anoop Krishna
welcome to homepage

'\nThis is a new code\n'

In [10]:
age  = 22
if age >= 30:
 print("he is an adult ")

elif age < 25:
 print("she is a female")

else:
 print("he is an student")

she is a female

In [13]:
order_amount = 1000
days = 'saturday'
membership = 'gold'

if (order_amount >= 1000 and days in['sat','sun']) or membership=='gold':
    print("20% discount")
else:
    print("no discount")

20% discount

In [16]:
names = ['anoop','arjun','amal','sai']

for name in names:
    print(name.upper())

ANOOP
ARJUN
AMAL
SAI

In [17]:
correct_pin = '1234'
entered_pin = ''

while entered_pin != correct_pin:
    entered_pin = input("enter your correct pin:")

print("access granted")

access granted